@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 color: #ffffff;
 font-family: "Space Mono",sans-serif;
}

body{
   background-color: rgb(21,22,41);

}

#header{
 display: flex;
 justify-content: space-between;
 padding: 20px;
 border-bottom: 1px solid #FFFFFF;
 
}

#header > h3{
    text-transform: uppercase;
}

#planet_names{
    display: flex;
    justify-content: space-between;
    
}

#planet_names > p{
    margin: 0 40px;
    cursor: pointer;
}

.container{
    margin: 0 70px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 100px 0 100px;
}

.planet_info, .planet_img{
    margin: 0 100px;
}

.paragraph{
    font-size: large;
    width: 500px
}

.footer{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    
}

.url{
    margin-bottom: 50px;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttons > .information{
    background-color: blueviolet;
    padding: 10px 0;
    margin: 10px;
    text-align: center;
    font-size: larger;
    height: 50px;
    width: 300px;
    cursor: pointer
    

}

#para2{
    display: none;
}

#para3{
    display: none;
}
